dn: CN=GPO_Computer,CN=Certificate Templates,CN=Public Key Services,CN=Services,CN=Configuration,{{ DC }}
changetype: add
cn: GPO_Computer
displayName: GPO_Computer
distinguishedName: 
 CN=GPO_Computer,CN=Certificate Templates,CN=Public Key Services,CN=Services,CN
 =Configuration,{{ DC }}
dSCorePropagationData: 20240216145234.0Z
dSCorePropagationData: 16010101000000.0Z
flags: 131680
instanceType: 4
msPKI-Cert-Template-OID: 
 1.3.6.1.4.1.311.21.8.6195483.9964586.14501048.6717952.8469127.33.2844961.11396
 199
msPKI-Certificate-Application-Policy: 1.3.6.1.5.5.7.3.1
msPKI-Certificate-Application-Policy: 1.3.6.1.5.5.7.3.2
msPKI-Certificate-Name-Flag: 134217728
msPKI-Enrollment-Flag: 32
msPKI-Minimal-Key-Size: 2048
msPKI-Private-Key-Flag: 16842752
msPKI-RA-Signature: 0
msPKI-Template-Minor-Revision: 3
msPKI-Template-Schema-Version: 2
name: GPO_Computer
objectCategory: 
 CN=PKI-Certificate-Template,CN=Schema,CN=Configuration,{{ DC }}
objectClass: top
objectClass: pKICertificateTemplate
pKICriticalExtensions: 2.5.29.15
pKIDefaultCSPs: 1,Microsoft RSA SChannel Cryptographic Provider
pKIDefaultKeySpec: 1
pKIExpirationPeriod:: AEAepOhl+v8=
pKIExtendedKeyUsage: 1.3.6.1.5.5.7.3.1
pKIExtendedKeyUsage: 1.3.6.1.5.5.7.3.2
pKIKeyUsage:: oAA=
pKIMaxIssuingDepth: 0
pKIOverlapPeriod:: AICmCv/e//8=
revision: 100
showInAdvancedViewOnly: TRUE
uSNChanged: 12956
uSNCreated: 12953
whenChanged: 20240216145235.0Z
whenCreated: 20240216145234.0Z

