dn: CN=pxGrid,CN=Certificate Templates,CN=Public Key Services,CN=Services,CN=Configuration,{{ DC }}
changetype: add
cn: pxGrid
displayName: pxGrid
distinguishedName: 
 CN=pxGrid,CN=Certificate Templates,CN=Public Key Services,CN=Services,CN=Confi
 guration,{{ DC }}
dSCorePropagationData: 16010101000000.0Z
flags: 131642
instanceType: 4
msPKI-Cert-Template-OID: 
 1.3.6.1.4.1.311.21.8.6195483.9964586.14501048.6717952.8469127.33.4862280.11896
 438
msPKI-Certificate-Application-Policy: 1.3.6.1.5.5.7.3.1
msPKI-Certificate-Application-Policy: 1.3.6.1.5.5.7.3.4
msPKI-Certificate-Application-Policy: 1.3.6.1.4.1.311.10.3.4
msPKI-Certificate-Application-Policy: 1.3.6.1.5.5.7.3.2
msPKI-Certificate-Name-Flag: 1
msPKI-Certificate-Policy: 2.5.29.32.0
msPKI-Enrollment-Flag: 1
msPKI-Minimal-Key-Size: 2048
msPKI-Private-Key-Flag: 16842768
msPKI-RA-Signature: 0
msPKI-Template-Minor-Revision: 4
msPKI-Template-Schema-Version: 2
name: pxGrid
objectCategory: 
 CN=PKI-Certificate-Template,CN=Schema,CN=Configuration,{{ DC }}
objectClass: top
objectClass: pKICertificateTemplate
pKICriticalExtensions: 2.5.29.7
pKICriticalExtensions: 2.5.29.15
pKIDefaultCSPs: 2,Microsoft Base Cryptographic Provider v1.0
pKIDefaultCSPs: 1,Microsoft Enhanced Cryptographic Provider v1.0
pKIDefaultKeySpec: 1
pKIExpirationPeriod:: AEAepOhl+v8=
pKIExtendedKeyUsage: 1.3.6.1.5.5.7.3.1
pKIExtendedKeyUsage: 1.3.6.1.5.5.7.3.4
pKIExtendedKeyUsage: 1.3.6.1.4.1.311.10.3.4
pKIExtendedKeyUsage: 1.3.6.1.5.5.7.3.2
pKIKeyUsage:: oAA=
pKIMaxIssuingDepth: 0
pKIOverlapPeriod:: AICmCv/e//8=
revision: 100
showInAdvancedViewOnly: TRUE
uSNChanged: 16474
uSNCreated: 16463
whenChanged: 20240216082409.0Z
whenCreated: 20240216075155.0Z

